body {
	background-color: #c4b9f8;
	font-family: Verdana;
	font-size: 20px;
	color: #70102b;
}

h1 {
	font-size: 48px;
}
/*Nieodwiedzony link*/
a:link {
	color: #6b179f;
}

/*Odwiedzony link*/
a:visited {
	color: #8c1a88;
}

/*Najechany link*/
a:hover {
	color: #ae1c71;
}